.loading-bar {
  align-items: center;
  justify-content: center;
  margin-left: 46%;
  margin-top: 100px;
}
.allstorePricesWaitMessage {
  margin-left: -15%;
  font-size: large;
}

.allstorePriceTitle {
  text-align: center;
  font-size: x-large;
  font-weight: 600;
}
.allstorePricesContainer {
  margin: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.listName {
  font-size: larger;
  font-weight: 600;
}

.listCreatedDate {
  font-size: 12px;
  line-height: 18px;
  font-weight: 600;
  color: #72767e;
  display: block;
}

.allstorePricesDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}

/* .allstorePricesBox {
  text-align: center;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  cursor: pointer;
} */

.allstorePricesBox {
  /* height: 100%; */
  box-shadow: 0px 2px 8px rgba(43, 26, 232, 0.16);
  border-radius: 12px;
  align-items: center;
  display: grid;
  grid-template-columns: min-content 1fr max-content;
  position: relative;
  margin: 10px;
  cursor: pointer;
  padding: 20px;
}

.allstoreImage {
  box-shadow: 0 0 0 1px #e8e9eb;
  border-radius: 50%;
}
.allstoreDetails {
  /* grid-area: center; */
  /* display: block; */
  margin-left: 20px;
}
.allstoreName {
  color: #343538;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
}

.allstorePricesBox:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.allstorePrice {
  font-weight: 500;
}

.stack-top {
  /* adjust the below to control the shape */
  --d: 5px;
  --w: 130px;
  --c: #333;
  /**/

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(29.29%, -100%) rotate(45deg); /* 29.29% = 100%*(1 - cos(45deg)) */
  color: #fff;
  text-align: center;
  width: var(--w);
  transform-origin: bottom left;
  padding: 5px 0 calc(var(--d) + 5px);
  background: linear-gradient(rgba(0, 0, 0, 0.6) 0 0) bottom/100% var(--d) no-repeat var(--c);
  clip-path: polygon(
    0 100%,
    0 calc(100% - var(--d)),
    50% calc(100% - var(--d) - var(--w) / 2),
    100% calc(100% - var(--d)),
    100% 100%,
    calc(100% - var(--d)) calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
}
.storeTableHeader {
  display: flex;
  justify-content: center;
  margin: 30px 0px;
}

.green {
  background: green;
}

.bg-green {
  color: rgb(1, 90, 1);
}
.bg-red {
  color: rgb(147, 3, 3);
}
.unavailableItems {
  color: rgb(147, 3, 3);
}

.allAvailable {
  color: rgb(1, 90, 1);
}
.table {
  margin: 50px 100px;
  font-size: larger;
}
