.showItemsHeader {
  margin: 0px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1000px;
}

.comparePrices {
  /* /* width: 100px; */
  height: 50px;
  background-color: #f23938;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.comparePricesTitle {
  font-weight: 700;
  font-size: small;
  margin: 1px;
}
.comparePricesFooter {
  margin: 1px;
  font-size: x-small;
}

.com .listCount {
  margin: 20px;
}
.itemPriceStoreContainer {
  margin: 50px;
  /* border: 1px solid red; */
  padding: 20px;
  width: 70%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.tableTitle {
  justify-content: space-between;
  margin-left: 250px;
  margin-right: 50px;
}

/* .row-item {
  display: inline-block;
} */
.itemPriceBox {
  flex-direction: row;
  position: relative;
  height: 120px;
  margin-right: 50px;
}

.itemNameStore {
  margin-left: 20px;
}

.ml-auto {
  margin-left: auto;
}

.itemPriceBox {
  margin-bottom: 8px;
  margin-top: 8px;
  border-color: #f1f1f2;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 20px;
}
.tableItem {
  align-items: center;
  justify-content: center;
}
